# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Logs
*.log

# Docker
*.tar

# Git
.git/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Chroma
chroma_db/

# Uploads
uploads/